<div id="<%= dom_id notice %>">
  <div>
    <strong>Title:</strong>
    <%= notice.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= notice.body %>
  </div>

  <div>
    <strong>Author name:</strong>
    <%= notice.author_name %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= notice.category %>
  </div>

  <div>
    <strong>Pinned:</strong>
    <%= notice.pinned %>
  </div>

</div>
